{%extends 'base.html'%}

{%block titulo%}
    Eliminar Publicacion
{%endblock%}

{%block content%}
    <h1>Editar Publicacion</h1>
    <form action="/eliminarPublicacion/{{pubE.publicacionId}}" method="post" enctype="multipart/form-data">
        <label for="">Titulo</label>
        <input type="text" name="titulo" id="" value="{{pubE.titulo}}" readonly>
        <br>
        <label for="">Contenido</label>
        <input type="text" name="contenido" id="" value="{{pubE.contenido}}" readonly>
        <br>
        <td><img src="/consultarImgPub/{{pubE.publicacionId}}" width="100" height="100"></td>
        <br>
        <input type="submit" value="Eliminar">
    </form>
{%endblock%}