{%extends 'base.html'%}

{%block titulo%}
    Login
{%endblock%}

{%block content%}
    <h1>Inicio de sesión</h1>
    <p>{{msg}}</p>
    <form action="/login" method="post">
        <label for="">Correo electronico</label>
        <input type="email" name="correo" id="">
        <br>
        <label for="">Contraseña</label>
        <input type="password" name="contrasena" id="">
        <br>
        <input type="submit" value="Iniciar sesión">
    </form>
    <a href="/regUsuario">Registrarme</a>
{%endblock%}